<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @student.class_mapping.standard.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.class_mapping.section.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.class_mapping.school.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
