<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @student.standard %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section %>
</p>

<p>
  <strong>School:</strong>
  <%= @student.school %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
