
    <form action="/class_alloted">

      <div style="font-size:15; position:absolute; TOP:200px; LEFT:600px;">
        <div class="row">
          <div class="col s12">
            Teacher id :
            <input type = "text" value=<%= @id%> id="id" name="id" readonly>
            </div>
          </div>
        </div>
        
        <div style="font-size:15; position:absolute; TOP:250px; LEFT:600px;">
        <div class="row">
          <div class="col s12">
            Teacher id :
            <input type = "text" value=<%= User.find(@id).name %> readonly>
            </div>
          </div>
        </div>

    <!--<div style="font-size:15; position:absolute; TOP:300px; LEFT:600px;">-->
      <!--<div class="row">-->
        <!--<div class="col s12">-->
          <!--Standard:-->
          <!--<select class="browser-default waves-effect waves-light btn" name="standard" id="standard_id">-->
            <!--<#% stnd = Standard.all %>-->
            <!--<#% stnd.each do |stnd| %>-->
                <!--<option value=<#%=stnd.standard_name%> ><#%=stnd.standard_name%> </option>-->
            <!--<#%end%>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


      <div style="font-size:15; position:absolute; TOP:350px; LEFT:600px;">
        <div class="row">
          <div class="col s12">
            Class
            <select class="browser-default waves-effect waves-light btn" name="class" id="class_id">
              <% c_map = ClassMapping.all %>
              <% c_map.each do |c_map| %>
                  <% std = Standard.find(c_map.standard_id) %>
                  <% sec = Section.find(c_map.section_id) %>
                  <option value=<%=c_map.id%> ><%=std.standard_name%> <%= sec.section_name %> </option>
            <%end%>
            </select>
          </div>
        </div>
      </div>


    <!-- Dropdown Structure -->
    <!--<div style="font-size:15; position:absolute; TOP:400px; LEFT:600px;">-->
      <!--<div class="row">-->
        <!--<div class="col s12">-->
          <!--Section:-->
          <!--<select class="browser-default waves-effect waves-light btn" name="section" id="section_id">-->
            <!--<#% sec = Section.all %>-->
            <!--<#% sec.each do |sec| %>-->
                <!--<option value=<#%=sec.section_name%> ><#%=sec.section_name%> </option>-->
            <!--<#%end%>-->
          <!--</select>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

      <div style="font-size:15; position:absolute; TOP:500px; LEFT:900px; ">
         <%= react_component('Submit') %>
       </div>

    </form>
