<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @allotment.user_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @allotment.role %>
</p>

<p>
  <strong>School:</strong>
  <%= @allotment.school_id %>
</p>

<p>
  <strong>Class mappings:</strong>
  <%= @allotment.class_mappings_id %>
</p>

<%= link_to 'Edit', edit_allotment_path(@allotment) %> |
<%= link_to 'Back', allotments_path %>
