

 <h4>
     Attendance summary of <%=@name%>, Roll No. <%= @id %></a>
   </h4>

 <div class="collection">
   <b><a href="#!" class="collection-item">Working days<span class="badge"> <%= @Working_days %></span></a>
   <a href="#!" class="collection-item">Present<span class="badge"><%= @Present %></span></a>
   <a href="#!" class="collection-item">Uninformed Absent<span class="badge"><%= @Uninformed %></span></a>
   <a href="#!" class="collection-item">Informed Absent<span class="badge"><%= @informed %></span></a>
   <a href="#!" class="collection-item">Attendance Percentage<span class="badge"><%= @att_per %>%</span></a></b>
 </div>
