

 <h4>
     Attendance summary of <%=@name%>, Roll No. <%= @id %></a>
   </h4>

 <div class="collection">
   <%= react_component ('Collect'), name: "Working Days" , days:@working_days %>
   <%= react_component ('Collect'), name: "Present" , days:@present %>
   <%= react_component ('Collect'), name: "Uninformed Absent" , days:@uninformed %>
   <%= react_component ('Collect'), name: "Informed Absent" , days:@informed %>
   <%= react_component ('Collect'), name: "Attendance Percentage" , days:@att_per %>
   <!--<a href="#!" class="collection-item">Present<span class="badge"><%= @present %></span></a>-->
   <!--<a href="#!" class="collection-item">Uninformed Absent<span class="badge"><%= @uninformed %></span></a>-->
   <!--<a href="#!" class="collection-item">Informed Absent<span class="badge"><%= @informed %></span></a>-->
   <!--<a href="#!" class="collection-item">Attendance Percentage<span class="badge"><%= @att_per %>%</span></a></b>-->
 </div>

